/*************** BOTÃO QUIZ **************/
.button_quiz_conhecimento {
    background-color: white;
    border-radius: 15px;
    padding: 12px 50px;
    margin-left: 60%;
    text-align: center;
    margin-right: 60%;
    margin-top: 40px;

}
.button_quiz {
    background-color: white;
    border-radius: 15px;
    padding: 12px 50px;
    margin-left: 60%;
    text-align: center;
    margin-right: 60%;
    margin-top: 40px;
}
.button_quiz a {
    font-size: 20px;
    font-weight: 400;
    color: #2E3E54;
}
/***************** BOTÃO SOBRE MIM *************/

.button_container {
    margin-top: -120px;
    margin-left: 5%; 
}

.button_sobremim {
    background-color: white;
    border-radius: 15px;
    padding: 12px 30px;
    text-align: center;
    margin-left: 450px;

}
.button_sobremim a {
    font-size: 20px;
    font-weight: 400;
    color: #2E3E54;
}
/***************** BOTÃO CADASTRO *************/
.button_cadastro {
    background-color: white;
    border-radius: 15px;
    padding: 12px 30px;
    text-align: center;
    width: 40%;
    margin-left: 30%;

}
.button_cadastro {
    font-size: 20px;
    font-weight: 400;
    color: #2E3E54;
}